[submodule "TNet/js"]
	path = TNet/js
	url = keybase://team/distributedbrain/fairjs
[submodule "js"]
	path = js
	url = keybase://team/distributedbrain/fairjs
[submodule "legislation/js"]
	path = legislation/js
	url = keybase://team/distributedbrain/fairjs
