h1,h2,h3 {
  background-color: rgb(230, 220, 245);
}
a.nodeco {
 text-decoration: none;
 color: #234;
}
textarea#file_contentid {
  width: 90vw;
  height: 24em; // rows: 24;
}
table {
  border: 1px solid black;
  font: 16px "Open Sans", Helvetica, Arial, sans-serif;
  border-spacing: 0;
  border-collapse: collapse;
}
thead > tr {
  background-color: rgb(228, 240, 245);
  text-align: center;
}
tbody > tr:nth-child(odd) {
    background-color: #eee;
}

tbody > tr#row0 {
  background-color: red;
  color: grey;
}

th {
  vertical-align: bottom;
}

th, td {
  border: 1px solid black;
  padding:4px 6px;
}

#profilepic {
  float: right;
}
.thumbnail {
  padding: 0;
}


